<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <h:body>
        <ui:composition template="postlist.xhtml">
            <ui:define name="homeLink"> <h:link styleClass="linkNoDecoration" outcome="/faces/users/index" value="Take The Lede"/></ui:define>
        </ui:composition>


    </h:body>



</html>

