<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" >

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            #{bundle.ViewPostsTitle}
        </ui:define>

        <ui:define name="javascript">
            <script type="text/javascript">


            </script>

        </ui:define>


        <ui:define name="body">

            
            <h:form>  
    <p:dataTable var="item" value="#{usersController.leaderboardStats}">  
        <p:column headerText="User">  
            <h:outputText value="#{item.email}" />  
        </p:column>  
  
        <p:column headerText="Total Comments">  
            <h:outputText value="#{item.numComments}" />  
        </p:column>  
  
        <p:column headerText="Total Points">  
            <h:outputText value="#{item.totalVotes}" />  
        </p:column>  
    </p:dataTable>
        
</h:form>  

            
        </ui:define>
    </ui:composition>

</html>
