<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Take The Lede</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/template.xhtml">
            <ui:define name="title">
                <h:outputText value="#{bundle.ListPostsTitle}"></h:outputText>
            </ui:define>
            <ui:define name="body">

                <h:form styleClass="jsfcrud_list_form" id="postList">
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>


                    <h:commandLink action="#{postsController.previous}" value="#{bundle.Previous} #{postsController.pagination.pageSize}" rendered="#{postsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{postsController.next}" value="#{bundle.Next} #{postsController.pagination.pageSize}" rendered="#{postsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{postsController.items}" var="item" border="0" cellpadding="0" cellspacing="0" rules="all" width="100%">

                        <h:column>


                            <div class="videoImageContainer">
                                <ui:insert name="videoLink">
                                <h:commandLink action="#{postsController.prepareUserView}">
                                    <h:graphicImage value="http://img.youtube.com/vi/#{item.link}/maxresdefault.jpg" styleClass="videoImage"/>
                                    <div class="postInfo">

                                        <h:outputText styleClass="postTitle" value="#{item.title}"/>

                                        <br></br>
                                        <h:outputText styleClass="postBody" escape="false" value="#{item.bodyWithoutLink}"/>
                                        <br></br>
                                        <table class="postFooter">
                                            <tr>

                                                <td class="postDate"><h:outputText  value="#{item.releaseDate}"><f:convertDateTime pattern="MMM dd, yyyy" /></h:outputText></td>
                                                <td><p id="viewPostLabel">View Post &rsaquo;</p></td>

                                            </tr>
                                        </table>

                                        <br></br>

                                    </div>
                                </h:commandLink>
                                </ui:insert>
                            </div>


                        </h:column>
                    </h:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
        <br/>
        <h:link outcome="/faces/users/leaderboards.xhtml" value="Leaderboards"/>
    </h:body>



</html>

