<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" >

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            #{bundle.ViewPostsTitle}
        </ui:define>

        <ui:define name="javascript">
            <script type="text/javascript">


                function commitComment(commentId, userId, postId, comment) {
                    //alert("commentId: " + commentId + "\ncomment: " + comment + "\nuserId: " + userId + "\npostId: " + postId);
                    insertComment([{name: 'userId', value: userId},
                        {name: 'postId', value: postId},
                        {name: 'comment', value: comment},
                        {name: 'replyToCommentId', value: commentId}]);
                }

                function promptReply(bodyText) {
                    var bodytext = $(bodyText).next().text();
                    var commentId = $(bodyText).attr("name");

                    var postId = $("#postId").text();
                    var userId = $("#userId").text();
                    var comment = prompt("Please Enter a response to:\n" + bodytext);
                    if (comment === "" || comment.replace(/\s/g, '') === "") {
                        alert("You cannot post a bank reply.");
                        return;
                    }
                    if (comment !== null) {
                        commitComment(commentId, userId, postId, comment);
                    }
                }

                function submitComment(submitButton) {

                    var postId = $("#postId").text();
                    var userId = $("#userId").text();
                    var comment = $("#commentBox").val();
                    var commentId = null;
                    if (comment === "" || comment.replace(/\s/g, '') === "") {
                        alert("You cannot post a bank comment.");
                        return;
                    }
                    if (comment !== null) {
                        commitComment(commentId, userId, postId, comment);
                    }
                    $("#commentBox").val('');
                }

                function upVote(upvoteCheck) {

                    var userId = $("#userId").text();
                    var commentId = $(upvoteCheck).attr("name");

                    if (upvoteCheck.checked) {
                        //cast vote
                        $(upvoteCheck).next().attr("checked", false);

                        addVote(commentId, userId, 'up');
                    }
                    else {
                        deleteVote(commentId, userId);
                    }


                }

                function downVote(downvoteCheck) {

                    var userId = $("#userId").text();
                    var commentId = $(downvoteCheck).attr("name");
                    if (downvoteCheck.checked) {
                        //cast vote
                        $(downvoteCheck).prev().attr("checked", false);
                        addVote(commentId, userId, 'down');
                    }
                    else {
                        deleteVote(commentId, userId);
                    }
                }
                function addVote(commentId, userId, value) {
                    //alert("commentId: " + commentId + "\ncomment: " + comment + "\nuserId: " + userId + "\npostId: " + postId);
                    castVote([{name: 'userId', value: userId},
                        {name: 'commentId', value: commentId},
                        {name: 'voteValue', value: value}]);
                }

                function deleteVote(commentId, userId) {
                    //alert("commentId: " + commentId + "\ncomment: " + comment + "\nuserId: " + userId + "\npostId: " + postId);
                    removeVote([{name: 'userId', value: userId},
                        {name: 'commentId', value: commentId}]);
                }

                function initEditComment(commentId, comment) {
                    //alert("commentId: " + commentId + "\ncomment: " + comment + "\nuserId: " + userId + "\npostId: " + postId);
                    editComment([{name: 'comment', value: comment},
                        {name: 'commentId', value: commentId}]);
                }

                function initDeleteComment(commentId) {
                    //alert("commentId: " + commentId + "\ncomment: " + comment + "\nuserId: " + userId + "\npostId: " + postId);
                    deleteComment([
                        {name: 'commentId', value: commentId}]);
                }

                function promptDelete(deleteLink) {
                    var deleteComment = confirm("Are you sure you want to delete your comment?");
                    if (deleteComment) {
                        initDeleteComment($(deleteLink).prev().text());
                    }
                    return;
                }
                function promptEdit(editLink) {
                    var bodytext = $(editLink).prev().text();
                    var commentId = $(editLink).next().text();

                    
                    var comment = prompt("Please edit your response:", bodytext);
                    if (comment === "" || comment.replace(/\s/g, '') === "") {
                        alert("You cannot post a bank reply.");
                        return;
                    }
                    initEditComment(commentId, comment);

                }


            </script>

        </ui:define>


        <ui:define name="body">
            <ui:param name="postId" value="#{postsController.selected.postId}" />
            <ui:param name="email" value="#{usersController.principalUserName}" />
            <ui:param name="userId" value="#{usersController.currentUserId}" />

            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form styleClass="viewPostForm" >



                <div> <iframe width="784" height="441" src="//www.youtube.com/embed/#{postsController.selected.link}" frameborder="0" allowfullscreen="true"></iframe></div>
                <table class="viewPostHeader">   
                    <tr>  
                        <td class="viewPostTitle">
                            <h:outputText value="#{postsController.selected.title}" title="#{bundle.ViewPostsTitle_title}" escape="false"/>
                        </td>
                        <td class="viewPostDate">
                            <h:outputText value="#{postsController.selected.releaseDate}" title="#{bundle.ViewPostsTitle_releaseDate}" >
                                <f:convertDateTime pattern="MMM dd, yyyy" />
                            </h:outputText>
                        </td>
                    </tr>
                </table>
                <br></br>
                <br></br>
                <div class="viewPostBody">
                    <h:outputText value="#{postsController.selected.getLinkBody()}" escape="false" title="#{bundle.ViewPostsTitle_body}" />
                </div>
                <br></br>

                <p id="userId" hidden="true">#{userId}</p>
                <p id="postId" hidden="true">#{postId}</p>
                <p id="username" hidden="true">#{email}</p>

                <div class="pollBox">
                    <h:form >

                        <h:outputText styleClass="pollQuestion" value="#{postsController.selected.pollQuestion}"/>
                        <br></br>
                        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  

                            <script type="text/javascript">
                                #{pollVotesController.getVoteForPostByUser(userId, postId)};</script>
                            <p:selectOneRadio disabled="#{postsController.selected.isOlderThanAWeek()}" styleClass="pollOptions" id="grid" value="#{pollVotesController.currentVote}" layout="grid" columns="2">  
                                <f:selectItems value="#{pollsController.getPollsById(postId)}" var="item" itemLabel="#{item.title}" itemValue="#{item.seqno}"/>
                                <p:ajax event="valueChange" listener="#{pollVotesController.castVote(userId, postId)}"/> 
                            </p:selectOneRadio>  



                        </h:panelGrid>         


                    </h:form> 

                    <form>
                        <textArea rows="4" cols="50"  id="commentBox" placeholder="Enter your comment here..."/><br/>
                        <p hidden="true">#{userId}</p>
                        <p hidden="true">#{postId}</p>

                        <input type="button" value="Submit" onclick="submitComment(this)"/>
                    </form>

                    <h:form id="form">  

                        <p:tree value="#{commentsController.getCommentsByPostId(postId, userId)}" var="node" id="commenttree" >  
                            <p:treeNode id="treeNode" >  
                                <ui:param name="bodyText" value="#{node.getLinkifiedBodyText()}"/>
                                <div class="commentLine">


                                    <div >
                                        <span class="username #{node.getUsernameClass(userId)}">#{node.getDisplayUserName(userId)} </span>
                                        <span class="numUpvotes">   |   #{node.getDisplayNetvotes()}   |   </span>
                                        <span class="commentDate"> <h:outputText value="#{node.getCommentCreationDate()}"> <f:convertDateTime pattern="MMM dd, yyyy" /></h:outputText></span> 
                                    </div>

                                    <h:panelGroup layout="block" rendered="#{node.isNotDeleted()}">
                                        <input onClick="upVote(this);" type="checkbox" name="#{node.getCommentId()}" class = "vote upvote" checked="#{node.isUpvoted()}" value="up"/>upvote
                                        <input onClick="downVote(this);" type="checkbox" name="#{node.getCommentId()}" class = "vote downvote" checked="#{node.isDownvoted()}" value="down"/> downvote<br/>
                                    </h:panelGroup>
                                    <br/>
                                    <div class="commentArea">
                                        <h:outputText escape="false" styleClass="commentText" value="#{bodyText}"/>
                                        <br/>
                                        <br/>
                                        <ui:insert name="commentLinks">
                                        <a class="commentLink" name="#{node.getCommentId()}" onclick="promptReply(this);" value="reply">reply</a>
                                        <p hidden="true">#{bodyText}</p>
                                        <h:commandLink styleClass="commentLink" value="edit" onclick="promptEdit(this);" rendered="#{node.isOwnerOfComment(userId)}" ><f:ajax execute="@form" render="@none" /> </h:commandLink>
                                        <p hidden="true">#{node.getCommentId()}</p>
                                        
                                        <h:commandLink styleClass="commentLink" value="delete" onclick="promptDelete(this);" rendered="#{node.isOwnerOfComment(userId)}" > <f:ajax execute="@form" render="@none" /></h:commandLink>
                                        </ui:insert>

                                    </div>

                                </div>
                            </p:treeNode>  

                        </p:tree> 

                    </h:form>  
                    <p:remoteCommand name="insertComment" update="form:commenttree" 
                                     actionListener="#{commentsController.insertComment}"/>
                    <p:remoteCommand name="editComment" update="form:commenttree" 
                                     actionListener="#{commentsController.editComment}"/>
                    <p:remoteCommand name="deleteComment" update="form:commenttree" 
                                     actionListener="#{commentsController.deleteComment}"/>
                    <p:remoteCommand name="castVote" update="form:commenttree"
                                     actionListener="#{votesController.castCommentVote}"/>
                    <p:remoteCommand name="removeVote" update="form:commenttree"
                                     actionListener="#{votesController.deleteVote}"/>
                </div>


                <ui:insert name="navigationLinks">

                </ui:insert>
            </h:form>

        </ui:define>
    </ui:composition>

</html>
