<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDocumentsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDocumentsLabel_documentId}" for="documentId" />
                    <h:inputText id="documentId" value="#{documentsController.selected.documentId}" title="#{bundle.CreateDocumentsTitle_documentId}" required="true" requiredMessage="#{bundle.CreateDocumentsRequiredMessage_documentId}"/>
                    <h:outputLabel value="#{bundle.CreateDocumentsLabel_title}" for="title" />
                    <h:inputText id="title" value="#{documentsController.selected.title}" title="#{bundle.CreateDocumentsTitle_title}" required="true" requiredMessage="#{bundle.CreateDocumentsRequiredMessage_title}"/>
                    <h:outputLabel value="#{bundle.CreateDocumentsLabel_description}" for="description" />
                    <h:inputText id="description" value="#{documentsController.selected.description}" title="#{bundle.CreateDocumentsTitle_description}" required="true" requiredMessage="#{bundle.CreateDocumentsRequiredMessage_description}"/>
                    <h:outputLabel value="#{bundle.CreateDocumentsLabel_content}" for="content" />
                    <h:inputText id="content" value="#{documentsController.selected.content}" title="#{bundle.CreateDocumentsTitle_content}" required="true" requiredMessage="#{bundle.CreateDocumentsRequiredMessage_content}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{documentsController.create}" value="#{bundle.CreateDocumentsSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{documentsController.prepareList}" value="#{bundle.CreateDocumentsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDocumentsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
