<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateVisitsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateVisitsLabel_visitsPK_datetime}" for="visitsPK_datetime" />
                    <h:inputText id="visitsPK_datetime" value="#{visitsController.selected.visitsPK.datetime}" title="#{bundle.CreateVisitsTitle_visitsPK_datetime}" required="true" requiredMessage="#{bundle.CreateVisitsRequiredMessage_visitsPK_datetime}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateVisitsLabel_users}" for="users" />
                    <h:selectOneMenu id="users" value="#{visitsController.selected.users}" title="#{bundle.CreateVisitsTitle_users}" required="true" requiredMessage="#{bundle.CreateVisitsRequiredMessage_users}">
                        <f:selectItems value="#{usersController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{visitsController.create}" value="#{bundle.CreateVisitsSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{visitsController.prepareList}" value="#{bundle.CreateVisitsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateVisitsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
