root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: small;
}

a {
    color: #e33b06;
}

table {
    empty-cells: show;
   
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    letter-spacing: 3px;
    text-align: left;
    
    
}

td {
    
    
    
    border: none;
}

form.jsfcrud_list_form td, td td {
   
    
    vertical-align: baseline;
    padding-bottom: 0px;
}

#postList {
    margin-top: -15px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}




.viewPostTitle{
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    width: 482px;
    margin:0 auto;
    padding-top: 20px;
    text-rendering: optimizeLegibility;
}

.viewPostBody{
    font-family: 'Oxygen', sans-serif;
    display: inline-block;
    text-align: justify;
    font-size: 20px;
    line-height: 1.8em;
    width: 784px;
    margin:0 auto;
    text-rendering: optimizeLegibility;
}

.viewPostForm{
    width: 784px;
    margin:0 auto;
}

.viewPostDate{
    font-family: 'Oxygen', sans-serif;
    display: inline-block;
    font-size: 18px;
    text-align: right;
    width: 298px;
    line-height: 30px;
    vertical-align: bottom;
    
}
.videoImage{
    -webkit-filter: brightness(50%);
    width: 100%;
    height: auto;
}

.videoImageContainer{
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.postTitle {
    
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: inline-block;
     
    width: 600px;
    margin-right: auto;
    margin-left: 40px;
    margin-bottom: 10px;
    
    color: white;
}



.postBody{
    font-size: 20px;
    font-weight:300;
    font-family: 'Oxygen', sans-serif; 
    
    width: 600px;
    
   
    margin-left: 40px;
    color: white;
    text-rendering: optimizeLegibility;
    
    
    display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  
  
  

  line-height: 1.4;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
    
}
.postInfo{
    position: absolute; 
    top: 200px; 
    left:0;
    
    width: 100%;
    
}

#viewPostLabel{
    font-size: 25px;
    font-family: 'Oxygen', sans-serif; 
    color: white;
    text-align: right;
    
    margin-top: 0px;
    font-weight:300;
    width: 200px;
    
}

#menubar
{
	position: fixed;

	top: 0px;
	height: 100px;
	width: 100%;
	background: white; 
	text-align: center;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
        z-index: 100;
}
#separater
{
	

	top: 0px;
	height: 100px;
	width: 100%;
	
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
        
}
#gameName{
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 100px;
    
}
#userEmail{
    text-align: right;
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
    line-height: 100px;
    vertical-align: center;
}
#navBarRow{
    
}
#navBarTable{
    width: 100%;
}
.linkNoDecoration{
    color: black;
    text-decoration:none;
}
.postFooter{
    width: 600px;
    margin-left: 40px;
}

.postDate{
    width:400px;
    font-family: 'Oxygen', sans-serif;
    color: white;
    font-weight: 300x;
    font-size: 25px;
}

.viewPostHeader{
    width: 784px;
    border-spacing: 0px;
    border: none;
}

.pollBox{
    margin-top: 40px;
}
.pollOptions{
    
    font-family: 'Oxygen', sans-serif;
    font-weight: 300x;
    font-size: 20px;
}

.pollQuestion{
    
    font-family: 'Oxygen', sans-serif;
    font-weight: 700x;
    font-size: 30px;
}

.commentText{
    display: inline;
    margin: 0px;
    word-wrap:break-word;
    white-space: pre-wrap;
    
}

.commentLine{
    
    margin-bottom: 20px;
}

a.commentLink{
    color: red;
     text-decoration:none;
     margin-right: 5px;
}

.ui-tree-container, .ui-tree {
   border:none;
   width: 784px;
   
}

#commentBox{
    width: 392px;
   
    height: 100px;
    white-space: pre-wrap;
word-wrap: break-word;
}

.ui-treenode-children .commentArea{
    
    border-left:thin solid #222222;
    margin-left:20px;
    padding-left: 20px;
}

span.username{
    font-weight: bold;
}

span.me{
    color: blue;
}

span.commentDate{
    
}

span.numUpvotes{
    
}


.commentArea{
    margin-left: 20px;
}