<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditVotesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditVotesLabel_value}" for="value" />
                    <h:inputText id="value" value="#{votesController.selected.value}" title="#{bundle.EditVotesTitle_value}" required="true" requiredMessage="#{bundle.EditVotesRequiredMessage_value}"/>
                    <h:outputLabel value="#{bundle.EditVotesLabel_users}" for="users" />
                    <h:selectOneMenu id="users" value="#{votesController.selected.users}" title="#{bundle.EditVotesTitle_users}" required="true" requiredMessage="#{bundle.EditVotesRequiredMessage_users}">
                        <f:selectItems value="#{usersController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditVotesLabel_comments}" for="comments" />
                    <h:selectOneMenu id="comments" value="#{votesController.selected.comments}" title="#{bundle.EditVotesTitle_comments}" required="true" requiredMessage="#{bundle.EditVotesRequiredMessage_comments}">
                        <f:selectItems value="#{commentsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{votesController.update}" value="#{bundle.EditVotesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditVotesViewLink}"/>
                <br />
                <h:commandLink action="#{votesController.prepareList}" value="#{bundle.EditVotesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditVotesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
