<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListVotesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListVotesEmpty}" rendered="#{votesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{votesController.items.rowCount > 0}">
                    <h:outputText value="#{votesController.pagination.pageFirstItem + 1}..#{votesController.pagination.pageLastItem + 1}/#{votesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{votesController.previous}" value="#{bundle.Previous} #{votesController.pagination.pageSize}" rendered="#{votesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{votesController.next}" value="#{bundle.Next} #{votesController.pagination.pageSize}" rendered="#{votesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{votesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVotesTitle_value}"/>
                            </f:facet>
                            <h:outputText value="#{item.value}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVotesTitle_users}"/>
                            </f:facet>
                            <h:outputText value="#{item.users}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVotesTitle_comments}"/>
                            </f:facet>
                            <h:outputText value="#{item.comments}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{votesController.prepareView}" value="#{bundle.ListVotesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{votesController.prepareEdit}" value="#{bundle.ListVotesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{votesController.destroy}" value="#{bundle.ListVotesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{votesController.prepareCreate}" value="#{bundle.ListVotesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListVotesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
