<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewVotesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewVotesLabel_value}"/>
                    <h:outputText value="#{votesController.selected.value}" title="#{bundle.ViewVotesTitle_value}"/>
                    <h:outputText value="#{bundle.ViewVotesLabel_users}"/>
                    <h:outputText value="#{votesController.selected.users}" title="#{bundle.ViewVotesTitle_users}"/>
                    <h:outputText value="#{bundle.ViewVotesLabel_comments}"/>
                    <h:outputText value="#{votesController.selected.comments}" title="#{bundle.ViewVotesTitle_comments}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{votesController.destroyAndView}" value="#{bundle.ViewVotesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewVotesEditLink}"/>
                <br />
                <h:commandLink action="#{votesController.prepareCreate}" value="#{bundle.ViewVotesCreateLink}" />
                <br />
                <h:commandLink action="#{votesController.prepareList}" value="#{bundle.ViewVotesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewVotesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
