<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Take The Lede</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/users/postlist.xhtml">
            <ui:define name="homeLink"> <h:link styleClass="linkNoDecoration" outcome="/faces/admin/index" value="Take The Lede"/></ui:define>
            <ui:define name="videoLink">
                <h:commandLink action="#{postsController.prepareAdminView}">
                                    <h:graphicImage value="http://img.youtube.com/vi/#{item.link}/maxresdefault.jpg" styleClass="videoImage"/>
                                    <div class="postInfo">

                                        <h:outputText styleClass="postTitle" value="#{item.title}"/>

                                        <br></br>
                                        <h:outputText styleClass="postBody" escape="false" value="#{item.bodyWithoutLink}"/>
                                        <br></br>
                                        <table class="postFooter">
                                            <tr>

                                                <td class="postDate"><h:outputText  value="#{item.releaseDate}"><f:convertDateTime pattern="MMM dd, yyyy" /></h:outputText></td>
                                                <td><p id="viewPostLabel">View Post &rsaquo;</p></td>

                                            </tr>
                                        </table>

                                        <br></br>

                                    </div>
                                </h:commandLink>
            </ui:define>
           
        </ui:composition>
        
        
    </h:body>



</html>

