<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" >

    <ui:composition template="/users/postview.xhtml">
        <ui:define name="commentLinks">
            <a class="commentLink" name="#{node.getCommentId()}" onclick="promptReply(this);" value="reply">reply</a>
            <p hidden="true">#{bodyText}</p>
            <h:commandLink styleClass="commentLink" value="edit" rendered="#{node.isOwnerOfComment(userId)}" ><f:ajax execute="@form" render="@none" /> </h:commandLink>
            <p hidden="true">#{node.getCommentId()}</p>

            <h:commandLink styleClass="commentLink" value="delete" rendered="#{node.isNotDeleted()}" onclick="promptDelete(this);" > <f:ajax execute="@form" render="@none" /></h:commandLink>
        </ui:define>
        <ui:define name="navigationLinks">
            <h:link outcome="/faces/users/index" value="#{bundle.ViewPostsIndexLink}"/><br/>
            <h:link outcome="/faces/users/leaderboards.xhtml" value="Leaderboards"/>
        </ui:define>
        
    </ui:composition>

</html>
