<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPollsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPollsLabel_pollsPK_seqno}" for="pollsPK_seqno" />
                    <h:inputText id="pollsPK_seqno" value="#{pollsController.selected.pollsPK.seqno}" title="#{bundle.EditPollsTitle_pollsPK_seqno}" required="true" requiredMessage="#{bundle.EditPollsRequiredMessage_pollsPK_seqno}"/>
                    <h:outputLabel value="#{bundle.EditPollsLabel_title}" for="title" />
                    <h:inputText id="title" value="#{pollsController.selected.title}" title="#{bundle.EditPollsTitle_title}" required="true" requiredMessage="#{bundle.EditPollsRequiredMessage_title}"/>
                    <h:outputLabel value="#{bundle.EditPollsLabel_posts}" for="posts" />
                    <h:selectOneMenu id="posts" value="#{pollsController.selected.posts}" title="#{bundle.EditPollsTitle_posts}" required="true" requiredMessage="#{bundle.EditPollsRequiredMessage_posts}">
                        <f:selectItems value="#{postsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{pollsController.update}" value="#{bundle.EditPollsSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPollsViewLink}"/>
                <br />
                <h:commandLink action="#{pollsController.prepareList}" value="#{bundle.EditPollsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPollsIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
