<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPollsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPollsEmpty}" rendered="#{pollsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{pollsController.items.rowCount > 0}">
                    <h:outputText value="#{pollsController.pagination.pageFirstItem + 1}..#{pollsController.pagination.pageLastItem + 1}/#{pollsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{pollsController.previous}" value="#{bundle.Previous} #{pollsController.pagination.pageSize}" rendered="#{pollsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{pollsController.next}" value="#{bundle.Next} #{pollsController.pagination.pageSize}" rendered="#{pollsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{pollsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPollsTitle_pollsPK_seqno}"/>
                            </f:facet>
                            <h:outputText value="#{item.pollsPK.seqno}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPollsTitle_title}"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPollsTitle_posts}"/>
                            </f:facet>
                            <h:outputText value="#{item.posts}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{pollsController.prepareView}" value="#{bundle.ListPollsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pollsController.prepareEdit}" value="#{bundle.ListPollsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pollsController.destroy}" value="#{bundle.ListPollsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{pollsController.prepareCreate}" value="#{bundle.ListPollsCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPollsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
