<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDocumentLinksTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDocumentLinksEmpty}" rendered="#{documentLinksController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{documentLinksController.items.rowCount > 0}">
                    <h:outputText value="#{documentLinksController.pagination.pageFirstItem + 1}..#{documentLinksController.pagination.pageLastItem + 1}/#{documentLinksController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{documentLinksController.previous}" value="#{bundle.Previous} #{documentLinksController.pagination.pageSize}" rendered="#{documentLinksController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{documentLinksController.next}" value="#{bundle.Next} #{documentLinksController.pagination.pageSize}" rendered="#{documentLinksController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{documentLinksController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocumentLinksTitle_commentId}"/>
                            </f:facet>
                            <h:outputText value="#{item.commentId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocumentLinksTitle_documentId}"/>
                            </f:facet>
                            <h:outputText value="#{item.documentId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocumentLinksTitle_comments}"/>
                            </f:facet>
                            <h:outputText value="#{item.comments}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{documentLinksController.prepareView}" value="#{bundle.ListDocumentLinksViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{documentLinksController.prepareEdit}" value="#{bundle.ListDocumentLinksEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{documentLinksController.destroy}" value="#{bundle.ListDocumentLinksDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{documentLinksController.prepareCreate}" value="#{bundle.ListDocumentLinksCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDocumentLinksIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
