<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePollVotesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePollVotesLabel_seqno}" for="seqno" />
                    <h:inputText id="seqno" value="#{pollVotesController.selected.seqno}" title="#{bundle.CreatePollVotesTitle_seqno}" />
                    <h:outputLabel value="#{bundle.CreatePollVotesLabel_users}" for="users" />
                    <h:selectOneMenu id="users" value="#{pollVotesController.selected.users}" title="#{bundle.CreatePollVotesTitle_users}" required="true" requiredMessage="#{bundle.CreatePollVotesRequiredMessage_users}">
                        <f:selectItems value="#{usersController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePollVotesLabel_posts}" for="posts" />
                    <h:selectOneMenu id="posts" value="#{pollVotesController.selected.posts}" title="#{bundle.CreatePollVotesTitle_posts}" required="true" requiredMessage="#{bundle.CreatePollVotesRequiredMessage_posts}">
                        <f:selectItems value="#{postsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pollVotesController.create}" value="#{bundle.CreatePollVotesSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{pollVotesController.prepareList}" value="#{bundle.CreatePollVotesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePollVotesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
