<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPollVotesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPollVotesEmpty}" rendered="#{pollVotesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{pollVotesController.items.rowCount > 0}">
                    <h:outputText value="#{pollVotesController.pagination.pageFirstItem + 1}..#{pollVotesController.pagination.pageLastItem + 1}/#{pollVotesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{pollVotesController.previous}" value="#{bundle.Previous} #{pollVotesController.pagination.pageSize}" rendered="#{pollVotesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{pollVotesController.next}" value="#{bundle.Next} #{pollVotesController.pagination.pageSize}" rendered="#{pollVotesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{pollVotesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPollVotesTitle_seqno}"/>
                            </f:facet>
                            <h:outputText value="#{item.seqno}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPollVotesTitle_users}"/>
                            </f:facet>
                            <h:outputText value="#{item.users}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPollVotesTitle_posts}"/>
                            </f:facet>
                            <h:outputText value="#{item.posts}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{pollVotesController.prepareView}" value="#{bundle.ListPollVotesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pollVotesController.prepareEdit}" value="#{bundle.ListPollVotesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pollVotesController.destroy}" value="#{bundle.ListPollVotesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{pollVotesController.prepareCreate}" value="#{bundle.ListPollVotesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPollVotesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
