<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAliasesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAliasesLabel_aliasesPK_alias}" for="aliasesPK_alias" />
                    <h:inputText id="aliasesPK_alias" value="#{aliasesController.selected.aliasesPK.alias}" title="#{bundle.EditAliasesTitle_aliasesPK_alias}" required="true" requiredMessage="#{bundle.EditAliasesRequiredMessage_aliasesPK_alias}"/>
                    <h:outputLabel value="#{bundle.EditAliasesLabel_users}" for="users" />
                    <h:selectOneMenu id="users" value="#{aliasesController.selected.users}" title="#{bundle.EditAliasesTitle_users}" required="true" requiredMessage="#{bundle.EditAliasesRequiredMessage_users}">
                        <f:selectItems value="#{usersController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditAliasesLabel_posts}" for="posts" />
                    <h:selectOneMenu id="posts" value="#{aliasesController.selected.posts}" title="#{bundle.EditAliasesTitle_posts}" required="true" requiredMessage="#{bundle.EditAliasesRequiredMessage_posts}">
                        <f:selectItems value="#{postsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{aliasesController.update}" value="#{bundle.EditAliasesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAliasesViewLink}"/>
                <br />
                <h:commandLink action="#{aliasesController.prepareList}" value="#{bundle.EditAliasesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAliasesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
