<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAliasesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAliasesEmpty}" rendered="#{aliasesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{aliasesController.items.rowCount > 0}">
                    <h:outputText value="#{aliasesController.pagination.pageFirstItem + 1}..#{aliasesController.pagination.pageLastItem + 1}/#{aliasesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{aliasesController.previous}" value="#{bundle.Previous} #{aliasesController.pagination.pageSize}" rendered="#{aliasesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{aliasesController.next}" value="#{bundle.Next} #{aliasesController.pagination.pageSize}" rendered="#{aliasesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{aliasesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAliasesTitle_aliasesPK_alias}"/>
                            </f:facet>
                            <h:outputText value="#{item.aliasesPK.alias}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAliasesTitle_users}"/>
                            </f:facet>
                            <h:outputText value="#{item.users}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAliasesTitle_posts}"/>
                            </f:facet>
                            <h:outputText value="#{item.posts}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{aliasesController.prepareView}" value="#{bundle.ListAliasesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{aliasesController.prepareEdit}" value="#{bundle.ListAliasesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{aliasesController.destroy}" value="#{bundle.ListAliasesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{aliasesController.prepareCreate}" value="#{bundle.ListAliasesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAliasesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
