<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAliasesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAliasesLabel_aliasesPK_alias}"/>
                    <h:outputText value="#{aliasesController.selected.aliasesPK.alias}" title="#{bundle.ViewAliasesTitle_aliasesPK_alias}"/>
                    <h:outputText value="#{bundle.ViewAliasesLabel_users}"/>
                    <h:outputText value="#{aliasesController.selected.users}" title="#{bundle.ViewAliasesTitle_users}"/>
                    <h:outputText value="#{bundle.ViewAliasesLabel_posts}"/>
                    <h:outputText value="#{aliasesController.selected.posts}" title="#{bundle.ViewAliasesTitle_posts}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{aliasesController.destroyAndView}" value="#{bundle.ViewAliasesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAliasesEditLink}"/>
                <br />
                <h:commandLink action="#{aliasesController.prepareCreate}" value="#{bundle.ViewAliasesCreateLink}" />
                <br />
                <h:commandLink action="#{aliasesController.prepareList}" value="#{bundle.ViewAliasesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAliasesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
