<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMultipliersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateMultipliersLabel_schemeName}" for="schemeName" />
                    <h:inputText id="schemeName" value="#{multipliersController.selected.schemeName}" title="#{bundle.CreateMultipliersTitle_schemeName}" required="true" requiredMessage="#{bundle.CreateMultipliersRequiredMessage_schemeName}"/>
                    <h:outputLabel value="#{bundle.CreateMultipliersLabel_description}" for="description" />
                    <h:inputText id="description" value="#{multipliersController.selected.description}" title="#{bundle.CreateMultipliersTitle_description}" required="true" requiredMessage="#{bundle.CreateMultipliersRequiredMessage_description}"/>
                    <h:outputLabel value="#{bundle.CreateMultipliersLabel_vote}" for="vote" />
                    <h:inputText id="vote" value="#{multipliersController.selected.vote}" title="#{bundle.CreateMultipliersTitle_vote}" required="true" requiredMessage="#{bundle.CreateMultipliersRequiredMessage_vote}"/>
                    <h:outputLabel value="#{bundle.CreateMultipliersLabel_link}" for="link" />
                    <h:inputText id="link" value="#{multipliersController.selected.link}" title="#{bundle.CreateMultipliersTitle_link}" required="true" requiredMessage="#{bundle.CreateMultipliersRequiredMessage_link}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{multipliersController.create}" value="#{bundle.CreateMultipliersSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{multipliersController.prepareList}" value="#{bundle.CreateMultipliersShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateMultipliersIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
