<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditMultipliersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditMultipliersLabel_schemeName}" for="schemeName" />
                    <h:inputText id="schemeName" value="#{multipliersController.selected.schemeName}" title="#{bundle.EditMultipliersTitle_schemeName}" required="true" requiredMessage="#{bundle.EditMultipliersRequiredMessage_schemeName}"/>
                    <h:outputLabel value="#{bundle.EditMultipliersLabel_description}" for="description" />
                    <h:inputText id="description" value="#{multipliersController.selected.description}" title="#{bundle.EditMultipliersTitle_description}" required="true" requiredMessage="#{bundle.EditMultipliersRequiredMessage_description}"/>
                    <h:outputLabel value="#{bundle.EditMultipliersLabel_vote}" for="vote" />
                    <h:inputText id="vote" value="#{multipliersController.selected.vote}" title="#{bundle.EditMultipliersTitle_vote}" required="true" requiredMessage="#{bundle.EditMultipliersRequiredMessage_vote}"/>
                    <h:outputLabel value="#{bundle.EditMultipliersLabel_link}" for="link" />
                    <h:inputText id="link" value="#{multipliersController.selected.link}" title="#{bundle.EditMultipliersTitle_link}" required="true" requiredMessage="#{bundle.EditMultipliersRequiredMessage_link}"/>
                </h:panelGrid>
                <h:commandLink action="#{multipliersController.update}" value="#{bundle.EditMultipliersSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditMultipliersViewLink}"/>
                <br />
                <h:commandLink action="#{multipliersController.prepareList}" value="#{bundle.EditMultipliersShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditMultipliersIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
