<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCommentsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCommentsEmpty}" rendered="#{commentsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{commentsController.items.rowCount > 0}">
                    <h:outputText value="#{commentsController.pagination.pageFirstItem + 1}..#{commentsController.pagination.pageLastItem + 1}/#{commentsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{commentsController.previous}" value="#{bundle.Previous} #{commentsController.pagination.pageSize}" rendered="#{commentsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{commentsController.next}" value="#{bundle.Next} #{commentsController.pagination.pageSize}" rendered="#{commentsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{commentsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommentsTitle_commentId}"/>
                            </f:facet>
                            <h:outputText value="#{item.commentId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommentsTitle_bodytext}"/>
                            </f:facet>
                            <h:outputText value="#{item.bodytext}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommentsTitle_documentLinks}"/>
                            </f:facet>
                            <h:outputText value="#{item.documentLinks}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommentsTitle_userId}"/>
                            </f:facet>
                            <h:outputText value="#{item.userId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommentsTitle_replyToCommentId}"/>
                            </f:facet>
                            <h:outputText value="#{item.replyToCommentId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommentsTitle_postId}"/>
                            </f:facet>
                            <h:outputText value="#{item.postId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{commentsController.prepareView}" value="#{bundle.ListCommentsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{commentsController.prepareEdit}" value="#{bundle.ListCommentsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{commentsController.destroy}" value="#{bundle.ListCommentsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{commentsController.prepareCreate}" value="#{bundle.ListCommentsCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCommentsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
